<header id="header">
<div class="container">
    <div class="logo">
        <a href="index.html">
            <img alt="{{SITENAME}}" width="179" height="54" data-sticky-width="120" data-sticky-height="40" src="{{SITE_URL}}/theme/img/logo-light.png">
        </a>
    </div>
    <div class="search">
        <form id="searchForm" action="/pages/search-results.html" method="get">
            <div class="input-group">
                <input type="text" class="form-control search" name="q" id="q" placeholder="Search..." required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    {% if CALLOUT_NAV %}
    <nav>
        <ul class="nav nav-pills nav-top">
            {% for item, url in CALLOUT_NAV %}
            <li>
                <a href="{{ url }}"><i class="fa fa-angle-right"></i>{{ item }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
    </button>
</div>
<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <ul class="social-icons">
            {% for service, url in SOCIAL %}
            <li class="{{ service }}"><a href="{{ url }}" target="_blank" title="{{ service }}">{{ service }}</a></li>
            {% endfor %}
        </ul>
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                {% for item, url in NAV %}
                    <li><a href="{{ url }}">{{ item }}</a></li>
                {% endfor %}

                {% for pg in PAGES %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li> 
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
</header>



