<aside class="sidebar">
    <form>
        <div class="input-group input-group-lg">
            <input class="form-control" placeholder="Search..." name="s" id="s" type="text">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <hr />
    <h4>Categories</h4>
    <ul class="nav nav-list primary push-bottom">
        {% for category, articles in categories|sort %}
        <li><a href="/{{ category.url }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
     {% if article %}
    <hr />
    <h4>Related Posts</h4> 
    {% if article.related_posts %}
    <ul class="nav nav-list primary push-bottom">
    {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    <hr />
    <h4>Latest Codering</h4>
    <span id="github-feed"></span>
    <hr />
    <h4>Latest Tweets</h4>
    <a class="twitter-timeline" href="https://twitter.com/{{ TWITTER_ID }}" data-widget-id="{{ TWITTER_WIDGET_ID }}">Please Wait...</a>
    </div>
</aside>
