{% extends "base.html" %}

{% block title %}
    <title>{{ SITENAME }} | {{ page.title }}</title>
{% endblock %}

{% block content %}
<div class="blog-posts single-post">
    <page class="post post-large blog-single-post">
        <div class="post-content">
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
    </page>
</div>
{% endblock %}

{% block scripts %}
<script>
  (function() {
    var cx = '008605138339680392553:4rbmk96_-_m';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
